* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
html {
    height: 100%;
} */

body {
    /* height: 100%; */
    background-color: #313434;
    background-image: radial-gradient(#282828 2px,
            transparent 2px);
    background-size: 16px 16px;
}


.heading {
    margin-top: 2.5rem;
    color: #FFF;
    text-align: center;
    font-family: Gravitas One;
    font-size: 36.914px;
    font-style: normal;
    font-weight: 400;
    line-height: 45.441px;
}

.logo {
    padding-top: 10.3rem;
    text-align: center;
    
}

.bodytext {
    padding-top: 1rem;
    color: #FFF;
    text-align: center;
    font-family: Avenir;
    font-size: 26.201px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%;
    /* 44.542px */
    text-transform: capitalize;
}

.input1 {
    padding-top: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 13.232px;
}

.urlbox {
    padding-top: .5rem;
    /* text-align: center; */
}

.urltext {
    /* text-align: center; */
    padding-left: 40px;
    color: #e6e6e6;
    font-family: Avenir;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    
    width: 700px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.37);
    background: #1C1E20;
}




::placeholder {
    
    color: #454545;
    font-family: Avenir;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 35px */
}

.enterbuttondiv {
    padding-top: .5rem
}



#enterbutton {
    border-radius: 8px;
    width: 74px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.37);
    background-color: #1C1E20;
}

#enterbutton:hover {
    border-radius: 8px;
    border: 2px solid #015fcc;
    background-color: #313434;
    transition: 0.5;
    cursor: pointer;
}
#enterbutton:focus{
    border: 2px solid rgb(255, 255, 41);
}




.output1 {
    padding-top: .6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 13.232px;
}

.shorturlbox {
    padding-top: .9rem;
    /* text-align: center; */
}

.shorturltext {
    padding-left: 40px;
    display: flex;
    align-items: center;
    color: #e6e6e6;
    font-family: Avenir;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    
    width: 579px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.37);
    background: #1C1E20;
}

.copybuttondiv {
    padding-top: .9rem
}

#copybutton {
    
    border-radius: 8px;
    width: 195px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.37);
    background-color: #1C1E20;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width:550px) {
      
        .bodytext{
            font-size: 23px;
        }
        .urltext {
            width: 300px;
            height: 50px;
            padding-left: 20px;
                font-size: 18px;
        }
    
        #enterbutton {
            border-radius: 8px;
            width: 50px;
            height: 50px;
            border: 1px solid rgba(255, 255, 255, 0.37);
            background-color: #1C1E20;
        }
        ::placeholder {
            color: #454545;
            font-family: Avenir;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            /* 35px */
        }
        .shorturltext {
            padding-left: 20px;
            font-size: 18px;
            width: 300px;
            height: 50px;
        }
              
        #copybutton {

            border-radius: 8px;
            width: 50px;
            height: 50px;
            
        }
                 .heading {
                     margin-top: 1.7rem;
                     font-size: 27px;
                 }
        #copytext{
            display: none;
        }
    }



@media (min-width:550px) and (max-width:800px) {
   
    #copytext{
        display: none;
    }
        .heading {
            margin-top: 2rem;
            font-size: 32px;
        }
        
    .urltext {
        width: 500px;
        height: 55px;
    }
    #enterbutton {
        border-radius: 8px;
        width: 60px;
        height: 55px;
        border: 1px solid rgba(255, 255, 255, 0.37);
        background-color: #1C1E20;
    }
    
    ::placeholder {
        color: #454545;
        font-family: Avenir;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 35px */
    }
    
    .urltext {
        padding-left: 30px;
        font-size: 20px;
    }
    .shorturltext {
        width: 435px;
        height: 55px;
        padding-left: 30px;
        font-size: 20px;
    }
    

    #copybutton {

        border-radius: 8px;
        width: 125px;
        height: 55px;
        
    }

}


#copybutton:hover {

    border: 2px solid #015fcc;
    background-color: #313434;
    transition: 0.5;
    cursor: pointer;
    border-radius: 8px;

}

#copybutton:active {
    border: 2px solid rgb(255, 255, 41);
}

#reset {
    width: 20px;
}

#enter {
    width: 20px;
}

#copy {
    width: 24px;
}

#copytext {

    color: #e5e5e5;
    font-family: Avenir;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 28px */
}